.choice-program {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 320px;
  min-height: 305px;;
  color: @color-page;
  margin: 0 auto;
}
.choice-program__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding: 0;
}
.choice-program__slogan {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
.choice-program__button {
  color: @color-text;
  text-decoration: none;
}
.choice-program__wrap-container {
  width: 320px;
  margin: 0 auto;
}
.choice-program__image {
  margin: 0;
  padding: 0;
}


