.image-example__after {
  display: none;

}
// .image-example__before {
//   position: relative;
//   width: 100%;
//   min-height: 240px; ;
// }
.image-example__before img {

  width: 320px;
  height: 240px;
  margin-right: 10px;

}
@media (min-width: @tablet-width) {
  .image-example__before img {

    width: 690px;
    height: 517px;
    margin-left: 16px;

  }
}
@media (min-width: @desktop-width) {
  .image-example__before img {
    margin: 0;

  }
}
