.main-instruction__list {
  list-style: none;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: @color-description-text;
  margin: 0;
  padding: 0;
}
.main-instruction__title {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
}
.main-instruction__wrap-container {
  width: 320px;
  margin: 0 auto;
}
.main-instruction__item {

}
