.main-instruction {
  width: 100%;
}
.main-instruction__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: @color-description-text;
  margin: 0;
  padding: 0;
}
.main-instruction__item {
  width: 200px;
  margin-bottom: 25px;
}
.main-instruction__title {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
}
.main-instruction__wrap-container {
  width: 320px;
  margin: 0 auto;
}
@media (min-width: @tablet-width) {
  .main-instruction__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;


  }
  .main-instruction__item {
    width: 245px;
    margin-right: 100px;
  }
  .main-instruction__wrap-container {
    width: 708px;
    margin: 0 auto;
  }
}
@media (min-width: @desktop-width) {
  .main-instruction__wrap-container {
    width: 1220px;
    margin: 0 auto;
  }
  .main-instruction__item {
    width: 245px;
    margin-right: 50px;
  }
}
