.page-main__wrap-container {
  width: 320px;
  margin: 0 auto;
}
@media (min-width: @tablet-width) {
  .page-main__wrap-container {
     width: 708px;
     margin: 0 auto;
  }
@media (min-width: @desktop-width) {
  .page-main__wrap-container {
    width: 1220px;
    margin: 0 auto;
 }
}
}
