.product-catalog__title {
  display: inline-block;
  width: 100%;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  padding-bottom: 28px;
  padding-top: 16px;
  color: @color-text;
  background-color: @color-page;
  border-top: 1px solid #ededed;
}

.product-catalog__title-catalog {
  display: block;
  width: 280px;
  margin: 0 auto;
}

.product-catalog__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 0;
}

.product-catalog__wrap-container {
  width: 320px;
  margin: 0 auto;
}

.product-catalog__see-all {
  position: relative;
  display: block;
  width: 280px;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 26px;
}

.product-catalog__more::before {
  content: "";
  position: absolute;
  background-image: url("../img/icon-plus-mobile.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  left: 125px;
  top: 25px;
}

.product-catalog__more {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  width: 281px;
  margin: 0;
  padding: 0;
  padding-top: 79px;
  padding-left: 0;
}

.product-catalog__great {
  width: 280px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
  padding-top: 7px;
  color: @color-description-text;
}

.product-catalog__see-all-button {
  text-decoration: none;
  color: @color-description-text;
  text-transform: uppercase;
  display: block;
  background-color: @color-footer;
  padding: 9px 1px;
  margin-top: 10px;
  width: 280px;
  text-align: center;

  &:hover,
  &:focus {
    background-color: #ebebeb;
  }

  &:active {
    color: #b9b9b9;
  }
}

.product-catalog__item--end {
  margin-bottom: 0;
  margin-top: 0;
  border-top: 1px solid #ededed;
}

@media (min-width: @tablet-width) {
  .product-catalog {
    margin-bottom: 90px;
  }

  .product-catalog__wrap-container {
    width: 708px;
    margin: 0 auto;
  }

  .product-catalog__list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 7px;
  }

  .product-catalog__title {
    margin-bottom: 0;
    border: none;
    padding-bottom: 21px;
  }

  .product-catalog__title-catalog {
    width: 708px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    padding: 0;
    margin: 0 auto;
    padding-left: 0;
    padding-top: 35px;
  }

  .product-catalog__more {
    width: 177px;
    text-align: center;
    padding-top: 140px;
    padding-left: 75px;
    margin-top: 26px;
    font-size: 20px;
  }

  .product-catalog__more::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-plus.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    left: 133px;
    top: 31px;
  }

  .product-catalog__great {
    width: 170px;
    text-align: center;
    font-size: 16px;
    padding-left: 76px;
    margin-top: 20px;
  }

  .product-catalog__see-all-button {
    display: block;
    width: 249px;
    padding: 12px 0;
    margin-top: 86px;
    margin-left: 39px;
  }

  .product-catalog__see-all {
    width: 324px;
    padding: 0;
  }

  .product-catalog__item--end {
    width: 322px;
    min-height: 431px;
    margin: 0;
    margin-top: 137px;
    border: 1px solid #ededed;
  }
}

@media (min-width: @desktop-width) {
  .product-catalog {
    margin-bottom: 96px;
  }

  .product-catalog__wrap-container {
    width: 1220px;
    margin: 0 auto;
  }

  .product-catalog__title {
    padding-top: 6px;
    padding-bottom: 0;
    margin-bottom: 24px;
  }

  .product-catalog__title-catalog {
    width: 1220px;
    margin: 0 auto;
    padding-top: 61px;
    padding-left: 0;
  }

  .product-catalog__list {
    padding-top: 0;
    padding-left: 0;
  }

  .product-catalog__item {
    margin-right: 10px;
  }

  .product-catalog__item--end {
    width: 243px;
    min-height: 431px;
    margin: 0;
    margin-top: 140px;
    border-top: 2px solid #ededed;
  }

  .product-catalog__more {
    width: 175px;
    text-align: center;
    padding-top: 163px;
    padding-left: 35px;
    margin: 0;
    font-size: 20px;
    line-height: 20px;
  }

  .product-catalog__more::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-plus.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    left: 93px;
    top: 55px;
  }

  .product-catalog__great {
    width: 170px;
    text-align: center;
    font-size: 16px;
    padding-left: 36px;
    margin-top: 21px;
  }

  .product-catalog__see-all {
    width: 245px;
  }

  .product-catalog__see-all-button {
    display: block;
    width: 169px;
    font-size: 16px;
    line-height: 20px;
    padding: 12px 0;
    margin-top: 86px;
    margin-left: 39px;
  }
}
