.social-list {
  width: 280px;
  min-height: 62px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0 auto;
  padding: 0;

  border-bottom: 1px solid #d9d9d9;
}
.social-list__item {
  padding-top: 24px;
}
.social-list__link {
  position: relative;
  color: @color-text;
  text-decoration: none;

}

.social-list__link--vk {
  margin-left: 74px;
  fill: #555555;
  &:hover,
  &:focus {
    fill: #a4d189;
  }
  &:active {
    fill-opacity: 0.3;
  }


}
.social-list__link--instagram {
  margin-right: 3px;
  fill: #555555;
  &:hover,
  &:focus {
    fill: #a4d189;
  }
  &:active {
    fill-opacity: 0.3;
  }
  svg {
   width: 16px;
   height: 16px;

  }
}
.social-list__link--fb {
  margin-right: 81px;
  margin-left: 0px;
  fill: #555555;
  &:hover,
  &:focus {
    fill: #a4d189;
  }
  &:active {
    fill-opacity: 0.3;
  }
  svg {
   width: 10px;
   height: 19px;
  }
}

@media (min-width: @tablet-width) {
  .social-list {
    padding-top: 37px;
    padding-bottom: 0px;
    border: none;
  }

  .social-list__link--vk {
    margin-left: 52px;
    svg {

      width: 30px;
      height: 16px;
    }
  }
  .social-list__link--instagram {


    svg {
      margin-top: -2px;
      width: 23px;
      height: 23px;

    }
  }
  .social-list__link--fb {
    margin-right: 55px;
    svg {
      margin-top: -5px;
      width: 14px;
      height: 28px;
    }
  }

}
@media (min-width: @desktop-width) {
  .social-list {
    padding-top: 42px;
    padding-bottom: 0px;
    border: none;
  }
  .social-list__item {
    padding-top: 19px;
  }
  .social-list__link--vk {
    margin-left: 70px;
     svg {
      width: 30px;
      height: 16px;
    }
  }
  .social-list__link--instagram {
    margin-right: 0px;

    svg {
     width: 23px;
     height: 23px;

    }
  }
  .social-list__link--fb {
    margin-right: 86px;
    svg {
     width: 14px;
     height: 28px;
    }
  }
}
